.module {
  display: inline-block;

  > input {
    width: 0;
    height: 0;
    position: absolute;

    & + span {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 0.5em;
      position: relative;
      border: 2px solid var(--border-color);
      border-radius: 24px;
      background-color: #fff;
      transition-duration: 0.2s;
      transition-property: background-color;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: 4px;
        left: 4px;
        border-radius: 14px;
        background-color: #ccc;
        border-color: #ccc;
        transition-duration: 0.2s;
        transition-property: transform;
        transform: scale(0);
      }
    }
  }

  > input[data-color="primary"] {
    &:checked + span {
      background-color: #fff;
      border-color: var(--primary-bg-color);
      &::before {
        background-color: var(--primary-bg-color);
        transform: scale(1);
      }
    }
    &:focus + span {
      border-color: var(--primary-bg-color);
      box-shadow: 0px 0px 3px var(--primary-bg-color);
      &::before {
        background-color: var(--primary-bg-color);
        transform: scale(1);
      }
    }
  }

  > input[data-color="secondary"] {
    &:checked + span {
      background-color: #fff;
      border-color: var(--secondary-bg-color);
      &::before {
        background-color: var(--secondary-bg-color);
        transform: scale(1);
      }
    }
    &:focus + span {
      border-color: var(--secondary-bg-color);
      box-shadow: 0px 0px 3px var(--secondary-bg-color);
      &::before {
        background-color: var(--secondary-bg-color);
        transform: scale(1);
      }
    }
  }

  > input[data-color] {
    &:disabled + span {
      pointer-events: none;
      border-color: var(--disabled-border-color);
      &::before {
        background-color: var(--disabled-text-color);
      }
    }
  }
}
