.module {
  display: inline-block;

  > input[data-color] {
    width: 0;
    height: 0;
    position: absolute;

    & + span {
      display: inline-block;
      width: 48px;
      height: 24px;
      margin-right: 0.5em;
      position: relative;
      border: 2px solid var(--border-color);
      border-radius: 24px;
      background-color: #d8d8d8;
      transition-duration: 0.2s;
      transition-property: background-color;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        top: 1px;
        left: 1px;
        border-radius: 22px;
        background-color: #fff;
        transition-duration: 0.2s;
        transition-property: left;
      }
    }

    &:checked + span {
      &::before {
        left: 25px;
      }
    }
  }

  > input[data-color="primary"] {
    &:focus + span {
      border-color: var(--primary-bg-color);
      box-shadow: 0px 0px 3px var(--primary-bg-color);
    }
    &:checked + span {
      background-color: var(--primary-bg-color);
    }
  }

  > input[data-color="secondary"] {
    &:focus + span {
      border-color: var(--secondary-bg-color);
      box-shadow: 0px 0px 3px var(--secondary-bg-color);
    }
    &:checked + span {
      background-color: var(--secondary-bg-color);
    }
  }

  > input[data-color] {
    &:disabled + span {
      pointer-events: none;
      filter: grayscale(100%) brightness(110%);
    }
  }
}
