* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
button,
a {
  font-size: 1.6rem;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
    メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}

button {
  border-width: 0;
}

:root {
  --primary-text-color: #fff;
  --primary-bg-color: #1976d2;
  --primary-active-color: #3b91e8;
  --secondary-text-color: #fff;
  --secondary-bg-color: #dc004e;
  --secondary-active-color: #e9266b;
  --border-color: #c1c1c1;
  --disabled-text-color: #acacac;
  --disabled-bg-color: #ededed;
  --disabled-border-color: #dcdcdc;
}
